*{
  margin:0;
  padding:0;

}
section{
  width:100%;
  height: 500px;

}
#uno{
  background: url("../img/paris-15.jpg") center center fixed;
  background-size: cover;
}
#dos{
  background: url("../img/nyc.jpg") center center fixed;
  background-size: cover;
}
#tres{
  background: url("../img/df.jpg") center center fixed;
  background-size: cover;
}

h1{
  text-align: center;
font-family: 'Lobster', cursive;
  font-size: 260px;
  color: black;

}
h2{
  text-align: center;
font-family: 'Lobster', cursive;
  font-size: 150px;
  color: white;

}

.cuadro {margin:0px 130px;
border: 5px solid pink;
display: inline-block;

font-family: 'Lobster', cursive;}
